# Types of Objects in Python
1.Immutable Objects

2.Mutable Objects

# Immutable Objects-those whose value cannot be changed once created
1.int

2.float

3.string

4.bool

5.tuple

# Mutable Objects - those whose values can be changed once created
1.List

2.Set

3.Dictionary

List

In [4]:
#are enclosed inn square brackets-array
my_list =[1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [5]:
#lists can have multiple datatypes 
my_list=[2,3,3.3,"English" ,True]
print(my_list)

[2, 3, 3.3, 'English', True]

In [6]:
#lists are mutable
#adding elements to a list
my_list=[2,3,3.3,"English" ,True]
my_list.append(6)
print(my_list)

[2, 3, 3.3, 'English', True, 6]

In [7]:
#printing elements of a list using their index
print(my_list[2])
print(my_list[0])

3.3
2

In [8]:
#lists allow duplicate values
list_1=[1,2,3,4,5,1,2,3]
print(list_1)

[1, 2, 3, 4, 5, 1, 2, 3]

In [9]:
#check size of list
print(len(list_1))

8

In [10]:
#initiating an empty list
list_2 =[]
print(list_2)

[]

In [12]:
list_2.append(5)
print(list_2)

[5, 5]

In [15]:
#delete items in a list
list_2 =[2, 3, 3.3, 'English', True, 6]
print(list_2)
del list_2[2]
print(list_2)

[2, 3, 3.3, 'English', True, 6]
[2, 3, 'English', True, 6]

In [17]:
#joining 2 lists
list_3 =[2,3,3,3,4,4,5]
list_4 =[3,5,2]
list_5 =list_3 + list_4
print(list_5)

[2, 3, 3, 3, 4, 4, 5, 3, 5, 2]

Tuple
tuples are immutable

In [18]:

#enclosed in brackets()
tuple_1 =(1,3,4,34,5)
print(tuple_1)
type(tuple_1)

(1, 3, 4, 34, 5)

tuple

In [19]:
#allow multiple data types in a single tuple
tuple_2 =(2,45,46.4,"machines",False)
print(tuple_2)

(2, 45, 46.4, 'machines', False)

In [20]:
#converting a list to a tuple
my_list =[3,4,5,6]
print(my_list)
my_tuple =tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [21]:
print(my_tuple[0])
print(my_tuple[2])

3
5

In [23]:
#immutable
#my_tuple.append(0) will throw an error sinc tuples cannot be changed

In [24]:
print(len(my_tuple))

4

Set

In [25]:
#enclosed in curly brackets{}
my_set ={2,34,4,56}
print(my_set)
type(my_set)

{56, 2, 34, 4}

set

In [27]:
#set does not support indexing
#print(my_set[0])error

In [28]:
#converting list to a set
list_5 =[3,4,5,6,5,6,6]
x =set(list_5)
print(x)

{3, 4, 5, 6}

In [29]:
#set doesnot allow duplicate values- the dupliccate values are not repeated
set_3 ={2,4,5,7,8,9,2,4}
print(set_3)

{2, 4, 5, 7, 8, 9}

Dictionary
kEY-VALUE pair
uses{}curly brackets

In [33]:
#NAME,AGE ,COUNTY are keys ,,DAVID,30,NYERI are values
my_dictionary ={"name" : "DAVID","AGE":30,"COUNTY":"NYERI"}
print(my_dictionary)
type(my_dictionary)

{'name': 'DAVID', 'AGE': 30, 'COUNTY': 'NYERI'}

dict

In [35]:
#to print mention the key
print(my_dictionary['name'])
print(my_dictionary['AGE'])

DAVID
30

In [40]:
#donot allow duplicate values
dictionary_2 ={"name" : "DAVID","AGE":30,"COUNTY":"NYERI","name" : "DAVID","AGE":30,"COUNTY":"NYERI"}
print(dictionary_2)
#only one  output despite repeating it

{'name': 'DAVID', 'AGE': 30, 'COUNTY': 'NYERI'}