# Operators in Python:
1.Arithmetic Operators

2.Assignment Operators

3.Comparision  Operators

4.Logical Operators

5.Identity Operators

6.Membership Operators

.Arithmetic Operators

In [8]:
#are the basic mathematical operations that we can perform on integers and float s
num_1 =23
num_2 =23


#addition
sum = num_1+num_2
print("sum" , sum)

#substraction
diff =num_1 - num_2
print("difference", diff)

#multiply
pro =num_1 *num_2
print("produ", pro)


#division
quo =num_1/num_2
print("division",quo)

#exponennt
exp = num_1**num_2 #23power23
print("exponent", exp)

#modulous
mod = num_1 %  num_2
print("reminder" , mod)

sum 46
difference 0
produ 529
division 1.0
exponent 20880467999847912034355032910567
reminder 0

2.Assignment Operators


+=

-=

**=

/=

%=

In [9]:
#we are assinging 5 to a
a = 5
print(a)

5

In [10]:
a =5
a += 5 #a =a+5
print(a)

10

In [12]:
b=5
b -= 5 #b =b-5
print(b)

0

3.comparision operators -compares 2 objects

In [13]:
a =5
b =10
#checks whether a =b
print(a == b)
#checks that a is not =b
print(a!=b)
#greater than
print(a>b)
#less than
print(a<b)
#less than or equal to
print(a<=b)
#greater than or equal to
print(a>=b)

False
True
False
True
True
False

4.Logical Operators

and

or

not

In [15]:
#and gives true if both conditions are true
a =10
print(a> 20 and a<5)
#or gives true if either conditions is true
print(a> 20 or a<5)
#not converts the output to be false
print (not(a>8 and a>5))

False
False
False

5.Identity Operators

is

is not

In [17]:
#checks whether the 2 values are same and gives boolean answer
x= 5
y =5
print(x is y)

True

In [18]:
x= 5
y =3
print(x is y)

False

In [19]:
#checks whether the 2 values are not same and gives boolean answer
x= 5
y =5
print(x is not y)

False

In [20]:
x= 5
y =3
print(x is not y)

True

6.Membership Operator

in

not in

In [21]:
#checks whether a particular value belongs to a sequence of groups

a =5
b = 10

c =[1,2,3,4,5]
print(a in c)# outputs true
print(b in c)#ouputs false

True
False

In [22]:
a =5
b = 10

c =[1,2,3,4,5]
print(a not in c)# outputs false
print(b not in c)#ouputs true

False
True